* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
}
#content {
  word-break: break-all;
}
#circle {
  position: relative;
}
#circle::before {
  content: "";
  width: 100px;
  height: 100px;
}
#circle::after {
  content: "";
  width: 100px;
  height: 100px;
}
@media (max-width: 500px) {
  #content {
    height: 50vh;
    overflow: auto;
  }
  .wrapper {
    height: 50vh;
    align-items: center;
  }
}
